<!DOCTYPE html>
<html>

<head>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<title>HireLens</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

<div class="nav-left">
<img src="/static/logo.png">
<span>HireLens</span>
</div>

<div class="nav-right">
<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/signup">Signup</a>
</div>

</div>

<div class="hero">

<h1 class="gradient-text">AI Resume Analyzer</h1>

<p>Optimize your resume, beat ATS systems, and land your dream job faster 🚀</p>

<div class="buttons">

<a href="/signup"><button class="primary">Start Free</button></a>

<a href="/login"><button class="secondary">Login</button></a>

</div>

</div>

<div class="features">

<div class="feature-card">
<h3>⚡ Instant ATS Score</h3>
<p>Analyze your resume in seconds and see how it performs.</p>
</div>

<div class="feature-card">
<h3>🧠 Smart Skill Detection</h3>
<p>AI automatically detects your skills from resume.</p>
</div>

<div class="feature-card">
<h3>💼 Job Recommendations</h3>
<p>Get job roles based on your skills instantly.</p>
</div>

</div>

</body>

</html>